@charset "utf-8";

/*共通部分*/

body{
    width:100%;
    height: 100px;
    margin:0px;
    padding:0px;
    letter-spacing: 2px;
    color:#333;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.wrap{
overflow: hidden;
}

a {
    color:#fff;
    text-decoration:none;
    text-align: center;
}
h1,h2,h3{
    text-align: center;

}
.section-title{
    h2{
        color:#D4AD60;
    }

}


p{
    text-align: center;

}
li{
    list-style: none;
    text-align: center;
}
img{
    text-align: center;
    width:100%
}

/*ヘッダー*/

header{
    width:100%;
    color:#fff;
    background-size:cover;
    background-repeat: repeat-x;
    background-image: url("../img/LP-header.jpg");
}

.header-title{
    img{
        height:600px;
    }
}

.header-nav{
    background-color: #333;
    margin-bottom: -16px;
}

.gnav__menu{
    display: flex;
    justify-content:center;

}
.gnav__menu__item{
    border-left: 1px solid#fff;
    padding: 20px 20px;
    font-size: 22px;
    margin :0 ;
}
.header-bottom{
    background-color: #F3eDEA;
    color:#333;
     p{
      padding: 10px;
     }
}

.navi-btn{
  display: none;
}
.navi-menu{
  display: none;
}


/*about section*/
.about-section-header{
    h3{
      font-size:28px;
    }
    p{
       font-size:22px;
    }
}

.about-section-picture{
    padding-bottom: 100px;
     img{
       width:100%;
       height:600px;
     }
}
.about-section-bottom-part-top{
    background-color: #F1FAFF;
    h3{
       font-size:31px;
       padding :10px 0;
       color: #0082be;
    }

}
.about-section-bottom-part-bottom{
    margin-top: 100px;
   font-size:20px;
}



/*topic section*/
.topics{
    background-color:lightgray;
}
.topics-section-title{
    padding-top: 100px;
    padding-bottom: 40px;
}
.topics-info{
    margin-top: 80px;
    padding-bottom: 40px;
    border-top:1px solid#333;
    border-bottom:1px solid#333;
    h3{
    font-size:22px;
    }
}

.topic-info{
   display: flex;
   justify-content: center;
   font-size:17px;
   margin-top:10px;
}
.topic-date{
    border: 1px solid #333;
    text-align:center;
    margin-right: 30px;
}



/*management section*/
.management-section-top-title{
    background-color: #F1FAFF;
    h3{
       font-size:31px;
       padding :10px 0;
       color: #0082be;
    }

}

.card__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 56px;
  }

  .card__item {
    width: calc(33.33333333% - 4px * 2 / 3);
    margin-right: 4px;
    margin-top: 24px;
  }

  .card__item:nth-child(3n) {
    margin-right: 0;
  }
  .media {
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    padding: 16px 16px 14px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .media__img {
    text-align: center;
  }

  .media__img img {
    vertical-align: bottom;
  }

  .media__body {
    margin-top: 12px;
  }

  .media__title {
    font-weight: 700;
    font-size: 20px;
    color: #6f7579;
  }



/*service section*/
.service{
    background-color: #F3eDEA;
}
.service-section-title{
    margin-top: 50px;
}

.service-items{
    display: flex;
    margin: 0 20px;
    padding-bottom: 0px;
    justify-content: space-between;
    color:#398AC5;
}


.accordion-container {
    position: relative;
    width: 100%;
    border: 1px solid #0079c1;
    border-top: none;
    outline: 0;
    cursor: pointer
  }

  .accordion-container .accordion-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    background: #000;
    cursor: pointer;
  }

  .accordion-container .accordion-title:hover,
  .accordion-container .accordion-title:active,
  .accordion-container .content-entry.open .accordion-title {
    background-color:#0079c1;
    color: white;
  }

  .accordion-container .accordion-title:hover i:before,
  .accordion-container .accordion-title:hover i:active,
  .accordion-container .content-entry.open i {
    color: white;
  }

  .accordion-title{
    position: relative;
  }

  .accordion-title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }

  .accordion-content {
    display: none;

    padding-left: 0.3125em;
    p{
      text-align:left;
      margin-left: 2rem;
    }
  }

  /* CSS for CodePen */
  .accordion-container {
    width: 100%;
    margin: 1.875em auto;
  }








/*recruit section*/
.recruit{
    background-image: url("./flower.jpg");
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;
    padding-top: 100px;
    p{
    padding-bottom: 100px;
    }
}

.recruit-section-text{
   background-color: #fff;
   padding:20px 0 ;
}
.recruit-site-link{
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.recruit-site-link-url{
    p{
        margin-top: 100px;
    }
}

.recruit-site-link-img{
       width:50%;
       margin-left: 30px;
}

.group-companys{
    padding:20px 0;
    margin:0 20px;
    display: flex;
    justify-content:space-between ;
}
.group-company{
    border: 2px solid#333;
}



/*footer*/
.copyright{
    p{
    padding: 0 auto;
    margin-bottom: 10px;
}
}



/*レスポンシブデザイン*/

@media screen and (max-width:768px){

/*共通部分*/
.section-title{
  h2{
      color:#D4AD60;
      font-size:22px;
  }
}
/*ヘッダー*/

.header-title{
     h1{
       font-size:24px;

     }
     p{
      font-size:12px;
     }
}
.navi-btn{
  display: block;
}
.navi-menu{
  display: block;
}

.br-pc{
  display:none;
}


/*レスポンシブ ハンバーガーメニュー*/

.navi-btn {
  width: 50px;
  height: 62px;
  position: relative;
  top:-700px;
  left:10px;
  cursor: pointer;
}
.navi-btn span {
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  background: #252525;
  border-radius: 5px;
  transition: all .3s;
}
.navi-btn span:nth-of-type(2) {
  top: 18px;
  opacity: 1;
  transition: all .3s;
}
.navi-btn span:last-of-type {
  top: 36px;
}
.navi-btn p {
  color: #252525;
  text-align: center;
  position: absolute;
  top: 45px;
  left: 2px;
}
.navi-btn-on span:first-of-type {
  transform: rotate(-45deg) translateY(16px) translateX(-13px);
}
.navi-btn-on span:nth-of-type(2) {
  transform: translateX(0);
  opacity: 0;
}
.navi-btn-on span:last-of-type {
  transform: rotate(45deg) translateY(-13px) translateX(-9px);
}
.navi-menu {
  top: 80px;
  display: none;
  background: #252525;
  width: 100%;
  position: fixed;
  z-index: 100;
  overflow-y: auto;
}
.navi-menu li {
  list-style-type: none;
}
.navi-menu li a {
  display: block;
  color: #e7efe7;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 30px;
}

/*レスポンシブ about section*/
.about-section-header{
  h3{
    font-size:20px;
  }
  p{
     font-size:14px;
  }
}
.about-section-header{
  h3{
  font-size:22px;
}
}

.about-section-bottom-part-top{

  h3{
    font-size:20px;
  }

}
.gnav{
  display:none;
}


.about-section-bottom-part-bottom{
p{
  font-size:14px;
}
}


/*レスポンシブ topic section*/

.topic-info{
 display: block;
 justify-content: center;
 text-align: center;
}
.topic-date{
  display: inline;
}

/*レスポンシブ management section*/

.management-section-top-title{
      h3{
        font-size:22px;
      }
}

.card__items {
  display: block;
  margin-top: 56px;
  margin :0 auto;
}

.card__item {
  width:80%;
  margin :0 auto;
}

.media {
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  padding: 16px 16px 14px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.media__img {
  text-align: center;
}

.card__item:nth-child(3n) {
  margin:0 auto;
}


/*レスポンシブ service section*/
.service-items{
  text-align: center;
  display: block;
}

.accordion-title{
  display: inline;
  text-align:center;
}


.accordion-content {
  display: none;
  p{
    text-align:center;

  }
}


/*レスポンシブ recruit section*/

.recruit-site-link{
  display: block;
}

.recruit-site-link-url{
   p{
       margin-top: 0px;
   }
}

.recruit-site-link-img{
      width:50%;

      margin: 0 auto;
      margin-top: -100px;
}

.group-companys{
  display: block;
  margin: o auto;
}
.group-company{
  text-align: center;
  width:100%;
}


}